
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
       @ViewBag.Greeting World (from the view)
    <h3>Мы собираемся организиваоть мероприятие. <br />
        (To do: sell it better)</h3>
        <a class="btn btn-primary" asp-action="RsvpForm">Rsvp now</a>
    </div>
</body>
</html>


